#root {
    height: 100%;
    padding: 2em;
    box-sizing: border-box;
}

.App {
    height: 100%;
    padding: 2em;
    border: dashed 4px #ccc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Sans-serif;
    font-size: 1.2em;
}

.csv {
    width: 100%;
    text-align: center;
}

.active, .display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.active {
    height: 100%;
    text-align: left;
}

.display {
    overflow-y: auto;
}

.display pre {
    flex: 1;
}

.display .controls {
    margin: 1em 0;
}

.display .controls a {
    margin-right: 1em;
}

.error {
    font-size: 0.8em;
    color: red;
    margin: 2em 0;
}
